<div class="container" style="margin-bottom: 100px; margin-top: 50px;">
  <div class="row mb-4" style="margin-left: 50px;">
    <h4><%= @customer.user_name %>さんがいいねした投稿</h4>
  </div>

  <div class="row" style="margin-left: 150px; margin-right: 170px;">
    <%= render 'public/customers/snacks-index', snacks: @snacks %>
  </div>

  <div class="row justify-content-center">
    <%= paginate @favorites, theme: 'twitter-bootstrap-4' %>
  </div>

</div>