<div class="container">
  <div class="row">
    <h4><%= @customer.user_name %>さんがいいねした投稿一覧</h4>
  </div>

  <div class="row col-8">
    <%= render 'public/customers/snacks-index', snacks: @snacks %>
  </div>

  <!--<div class="row d-flex justify-content-center">-->
  <!--  <#%= paginate @favorited_snacks %>-->
  <!--</div>-->
</div>