<h4>管理者ログイン</h4>

<%= form_with model: @admin, url: admin_session_path, method: :post do |f|%>

  <h6>メールアドレス</h6>
  <%= f.email_field :email, autofocus: true, autocomplete: "email" %>

  <h6>パスワード</h6>
  <%= f.password_field :password, autocomplete: "current-password" %><br>

  <%= f.submit 'ログイン'%><br>

<% end %>