<h5 class="col mb-3"><i class="fa-solid fa-magnifying-glass"></i>タグ検索</h5>
<% tags.each do |tag|%>
  <% unless tag.snacks.count == 0 %>
    <i class="fa-sharp fa-solid fa-tag"></i>
    <%=link_to tag.name, search_tag_path(tag_id: tag.id), class: 'text-dark' %>
    (<%= tag.snacks.count %>)
  <% end %>
<% end %>