<div class="container" style="margin-bottom: 100px;">
  <div class="row d-flex justify-content-center">
    <h5>
      お酒の種類ごとに合ったおつまみを紹介するサイトです。<br>
      お酒がよりおいしく、楽しくなること間違いなし！！
    </h5>
  </div>

  <!--お酒ジャンル検索-->
  <div class="row d-flex justify-content-center">
    <div class="col-2">
      <h5><strong>お酒ジャンル検索</strong></h5>
      <table class="table table-hover">
        <% @sakes.each do |sake| %>
          <tbody>
            <tr>
              <td style="color: #583822;">
                <%= link_to sake.genre, sake_snacks_path(sake_id: sake.id), method: :get, class: "text-decoration-none text-dark" %>
              </td>
              <td>( <%= sake.snacks.count %> )</td>
            </tr>
          </tbody>
        <% end %>
      </table>
    </div>

    <!--今月のおすすめ-->
    <div class="col text-center">
      <h4>今月のおすすめ</h4>
      <div style="padding: 10px; margin-bottom: 10px; border: 1px dashed #333333;">
        サンプル<br>
        サンプル<br>
        サンプル<br>
        サンプル<br>
        サンプル<br>
        サンプル<br>
      </div>
    </div>

    <!--人気のレシピ-->
    <div class="col text-center">
      <h4>人気のレシピ</h4>
      <div style="padding: 10px; margin-bottom: 10px; border: 1px dashed #333333;">
        サンプル<br>
        サンプル<br>
        サンプル<br>
        サンプル<br>
        サンプル<br>
        サンプル<br>
      </div>
    </div>
  </div>

  <!--タグ検索-->
  <div class="row">
    <div class="col-2">
      <%= render 'public/homes/taglist', tags: @tags%>
    </div>
  </div>
</div>





