<div class="container">
  <div class="row d-flex justify-content-center">
    <h5>
      お酒の種類ごとに合ったおつまみを紹介するサイトです。<br>
      お酒がよりおいしく、楽しくなること間違いなし！！
    </h5>
  </div>

  <div class="row d-flex justify-content-center">
    <div class="col text-center">
      <h4>今月のおすすめ</h4>
      <div style="padding: 10px; margin-bottom: 10px; border: 1px dashed #333333;">
        サンプル<br>
        サンプル<br>
        サンプル<br>
        サンプル<br>
        サンプル<br>
        サンプル<br>
      </div>
    </div>
    <div class="col text-center">
      <h4>人気のレシピ</h4>
      <div style="padding: 10px; margin-bottom: 10px; border: 1px dashed #333333;">
        サンプル<br>
        サンプル<br>
        サンプル<br>
        サンプル<br>
        サンプル<br>
        サンプル<br>
      </div>
    </div>
  </div>
</div>





