<!--おつまみ一覧画面-->
<div class="flex-item" style="flex-basis: 20%;">
  <%= link_to snack_path(snack) do %>
    <%= image_tag(snack.get_image(150,150)) %>
    <div class="snack-title mt-3"><%= snack.title %></div>
  <% end %>
</div>