<%= form_with model: snack do |f| %>
<table class="table table-borderless">
  <tr>
    <th>おつまみ</th>
  </tr>
  <tr>
    <td>おつまみ画像</td>
    <td><%= f.file_field :image, accept: "image/*" %></td>
  </tr>
  <tr>
    <td>タイトル</td>
    <td><%= f.text_field :title, placeholder: 'タイトル' %></td>
  </tr>
  <tr>
    <td>おつまみ紹介</td>
    <td><%= f.text_area :introduction, rows:'5', placeholder: 'ここに紹介文を記述します' %></td>
  </tr>
</table>
<% end %>