<%= render 'layouts/errors', obj: @snack %>
<!--, obj: @tags-->
<div class="container" style="margin-bottom: 100px; margin-top: 50px;">
  <h4>おつまみレシピ新規投稿</h4>

  <%= render 'public/snacks/form', snack: @snack, tags: @tags %>

</div>

