<div class="container" style="margin-bottom: 100px;">
  <h4>おつまみレシピ新規投稿</h4>

  <%= render 'list', snack: @snack %>

  <%= form_with model: @snack, url: snacks_path, method: :post do |f| %>
  <div class="row d-flex justify-content-center">
    <%= f.submit 'おつまみレシピを投稿', class: 'btn btn-lg btn-info col-4' %>
  </div>
<% end %>
</div>

