<div class="notice">
  <%= flash[:notice] %>
</div>

<div class="container" style="margin-bottom: 100px;">
  <h4>おつまみレシピ新規投稿</h4>

  <%= render 'public/snacks/form', snack: @snack, tags: @tags %>

</div>

