<div class="container notice ml-1 mt-1">
  <%= flash[:notice] %>
</div>
<div class="container" style="margin-bottom: 200px; margin-top: 60px;">
  <%= render 'public/snacks/detail', snack: @snack, snack_tags: @snack_tags, snack_comment: @snack_comment, snack_comments: @snack_comments %>
</div>