<h5>
<% if snack.favorited_by?(current_customer) %>
  <%= link_to '♥', snack_favorites_path(snack), method: :delete, remote: true, style: 'color: red;' %>
    いいね：<%= snack.favorites.count %>
<% else %>
  <%= link_to '♡', snack_favorites_path(snack), method: :post, remote: true %>
   いいね：<%= snack.favorites.count %>
<% end %>
</h5>