<div class="notice">
  <%= flash[:notice] %>
</div>

<div class="container" style="margin-bottom: 100px;">
  <h4>今月のおすすめ新規登録</h4>

  <%= render 'admin/snacks/form', snack: @snack, tags: @tags %>

</div>
