<div class="container" style="margin-bottom: 100px;">
  <div class="row">
    <h4>キーワード："<%= @word %>"（<%= @snacks.count %>品）</h4>
  </div>

  <!--キーワードに紐づいた投稿一覧-->
  <div class="col d-flex flex-wrap">
    <% @snacks.each do |snack| %>
      <%= render 'public/snacks/list', snack: snack %>
    <% end %>
  </div>
</div>