<% if obj.errors.any? %>
<div class="col-4 pt-1 pb-1" style="background-color: #FFB6C1;">
<h5><%= obj.errors.count %> 件のエラーが発生しました：</h5>
<h7>
  <ul>
    <% obj.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
</h7>
</div>
<% end %>